#hostCity {
    background: rgba(33, 37, 41, .8);
    position: relative;
    padding: 20vh 0;

    h1 {
        text-transform: uppercase;
        font-size: 5rem;
    }

    p {
        line-height: 2rem;
        text-wrap: pretty;
    }

    @media only screen and (max-width: 450px) {
        h1 {
            font-size: 3rem;
        }
    }

    &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../imgs/indoreBG.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

}