input,
textarea {
    border: 0 !important;
    border-bottom: 1px solid $blue !important;
    border-radius: 0 !important;
    background: transparent !important;
}

input:focus,
textarea:focus {
    border-color: $green !important;
    box-shadow: none !important;
}

label::after,
label::after {
    background: transparent !important;
}