#centerNavLinks {
    background-color: $blue;

    .nav-link {
        color: $white;

        &:hover {
            color: $green;
        }
    }
}

.nav-link {
    transition: 0.3s all ease-in;
    color: $blue;

    &:hover {
        color: $green;
    }
}

.navbar-toggler {
    color: $blue;

    span {
        color: $blue;
    }
}