@import "variables";

@font-face {
    font-family: headingtext;
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: cursive;
    src: url(../fonts/MrDafoe-Regular.ttf);
}

::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

::-webkit-scrollbar-thumb {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: $blue !important;
}

::-webkit-scrollbar-track {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

::selection {
    color: #f7f9fc;
    background-color: $blue;
}

body {
    background-color: $bg;
    font-family: 'Times New Roman', Times, serif;
}

.bluetext {
    color: $blue;
}

.lightbluetext {
    color: $lightblue;
}

.greentext {
    color: $green;
}

.headingtext {
    font-family: headingtext;
}

.cursivetext {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.customshadow {
    box-shadow: 0px 5px 20px rgba(176, 195, 211, 0.5);
}

.btn-primary {
    background-color: $blue !important;
    border: 1px solid transparent !important;
    color: $bg !important;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 10px;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        background-color: $bg !important;
        border: 1px solid $blue !important;
        color: $blue !important;
    }
}

.links {
    color: $blue;
    transition: 0.3s all ease;

    &:hover {
        color: $green;
    }
}

// home page table
.table-responsive {
    .border-primary {
        border-color: $lightblue !important;
    }

    .table {

        th,
        td {
            background: transparent !important;
        }

        th {
            color: $white;
            background-color: $blue !important;
            font-family: headingtext;
            font-weight: 600;
            text-align: center;
        }

        td {
            color: $lightblue;
        }
    }
}


#breadcrumb_container {
    background: linear-gradient(rgba(11, 11, 11, .6), rgba(11, 11, 11, .6)), url('https://t4.ftcdn.net/jpg/03/32/57/51/360_F_332575182_45ZsbUqp7HiEMxXTkRyJkBJnVL0MsrEm.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;

    .row {
        height: -webkit-fill-available;

        h1 {
            font-size: 5rem;
        }
    }
}

@media only screen and (max-width:450px) {
    #breadcrumb_container {
        .row {
            h1 {
                font-size: 3rem;
            }
        }
    }
}

@import "navbar";
@import "contact";